/* PAGE VICTORIES */

/* SECTION VICTORIES-VICTORIES */

.victories {
    margin-top: 50px;
}

.victories-content.nomargin-victories {
    margin: 0;
}


/* VICTORIES-COUNTER */
.victories-counter {
    display: block;

    margin-top: 100px;
    padding-bottom: 100px;

    /* h6 */

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    text-align: center;

    /* black */

    color: var(--black);
}