/* BASE SETTINGS */
body {
    /* font-family: 'Lato', sans-serif; */
    color: var(--black);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

q {
    all: initial;
    /* або встановити всі значення на значення за замовчуванням */
    /* all: unset; */
}

q::before {
    content: none;
}

q::after {
    content: none;
}