<!-- SECTION CONTACTS - PARTIALS -->
      <section class="contacts">
        <div class="container">
          <div class="contacts-content">
            <div class="contacts-details">
              <h2 class="contacts-details-heading">Контакти</h2>
              <ul class="contacts-list">
                <li class="contacts-list-items">
                  <h3 class="contacts-list-items-headings">Телефон</h3>
                  <ul class="contacts-list-details">
                      <li>
                        <svg class="tel-black">
                          <use href="./images/svg/contacts/contacts-top/contacts-top.svg#icon-tel-black">
                          </use>
                        </svg>
                      </li>
                      <li>
                        <ul>
                          <li class="contacts-list-items-headings margin-font">+38 (044) 599-08-84</li>
                          <li class="contacts-list-items-headings margin-font">+38 (050) 392-82-96</li>
                        </ul>
                      </li>
                    </ul>
                </li>
                <li class="contacts-list-items">
                  <h3 class="contacts-list-items-headings">Email</h3>
                  <ul class="contacts-list-details">
                      <li>
                        <svg class="envelope-black">
                          <use href="./images/svg/contacts/contacts-top/contacts-top.svg#icon-envelope-black">
                          </use>
                        </svg>
                      </li>
                      <li class="contacts-list-items-headings margin-font">info@disputes.com.ua</li>
                    </ul>
                </li>
                <li class="contacts-list-items">
                  <h3 class="contacts-list-items-headings">Месенджери</h3>
                  <ul class="contacts-list-details">
                      <li>
                        <svg class="chat-black">
                          <use href="./images/svg/contacts/contacts-top/contacts-top.svg#icon-chat-black">
                          </use>
                        </svg>
                      </li>
                      <li>
                        <ul class="contacts-list-messenger">
                          <li class="contacts-list-messenger-item">
                            
                            <svg>
                              <use href="./images/svg/contacts/contacts-right.svg#icon-telegram-yellow">                               
                              </use>
                            </svg>
                            <p>Telegram</p>
                          </li>

                          <li class="contacts-list-messenger-item">
                            <svg>
                              <use href="./images/svg/contacts/contacts-right.svg#icon-viber">
                                
                              </use>
                            </svg>
                            <p>Viber</p>
                            </li>
                          <li class="contacts-list-messenger-item">
                            <svg>
                              <use href="./images/svg/contacts/contacts-right.svg#icon-whatsapp">
                                
                              </use>
                            </svg>
                            <p>Whatsapp</p>
                            </li>
                        </ul>
                      </li>
                    </ul>
                </li>
                <li class="contacts-list-items">
                  <h3 class="contacts-list-items-headings">Чат з адвокатом</h3>
                  <ul class="contacts-list-details">
                      <li>
                        <svg class="right-arrows-black">
                          <use href="./images/svg/contacts/contacts-top/contacts-top.svg#icon-right-arrows-black">
                          </use>
                        </svg>
                      </li>
                      <li>
                        <button class="contacts-list-button">Зв’язатися</button>
                      </li>
                    </ul>
                </li>
                <li class="contacts-list-items">
                  <h3 class="contacts-list-items-headings">Робочий час</h3>
                  <ul class="contacts-list-details">
                      <li>
                        <svg class="clock-solid-black">
                          <use href="./images/svg/contacts/contacts-top/contacts-top.svg#icon-clock-solid-black">
                          </use>
                        </svg>
                      </li>
                      <li class="contacts-list-items-headings margin-font">
                        
                        <p>Понеділок - П'ятниця</p>
                        <p>9:00 - 18:00</p>
                      </li>
                    </ul>
                </li>
                <li class="contacts-list-items">
                  <h3 class="contacts-list-items-headings">Адреса</h3>
                  <ul class="contacts-list-details">
                      <li>
                        <svg class="geo-black">
                          <use href="./images/svg/contacts/contacts-top/contacts-top.svg#icon-geo-black">
                          </use>
                        </svg>
                      </li>
                      <li class="contacts-list-items-headings margin-font">
                        <p>вулиця Пирогова, 5, Київ, 02000</p>
                      </li>
                    </ul>
                </li>

              </ul>
            </div>
            <div class="contacts-form">
              <h2 class="contacts-form-heading">Напишіть нам</h2>
              <form action="#" class="contacts-form-content">
                <div class="contacts-form-field">
                  <label for="name" class="contacts-form-label">Ім'я<span class="contacts-form-label-mark">*</span></label>
                  <input type="name" class="contacts-form-input">
                </div>
                <div class="contacts-form-field">
                  <label for="email" class="contacts-form-label">Email<span class="contacts-form-label-mark">*</span></label>
                  <input type="email" class="contacts-form-input">
                </div>
                <div class="contacts-form-field">
                  <label for="subject" class="contacts-form-label">Тема<span class="contacts-form-label-mark">*</span></label>
                  <input type="text" class="contacts-form-input">
                </div>
                <div class="contacts-form-field">
                  <label for="message" class="contacts-form-label">Повідомлення<span class="contacts-form-label-mark">*</span></label>
                  <input type="text" class="contacts-form-input">
                </div>
                <div class="contacts-captcha">
                  <img src="./images/recaptcha.png" alt="">
                </div>
                <div class="contacts-form-button">
                  <button type="submit" class="contacts-form-button-content"> <span class="contacts-form-button-text">Надіслати</span></button>
                </div>
              </form>
            </div>            
          </div>
          
        </div>
      </section>
      <section class="map section">
        <div class="container">
          <div class="map-content">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.7220758147423!2d30.5025769345583!3d50.446277229903245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cef6237d7095%3A0xd94cf816366d90c4!2z0LLRg9C70LjRhtGPINCf0LjRgNC-0LPQvtCy0LAsIDUsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1681134349350!5m2!1suk!2sua" width="1280" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          </div>
      </section>