<!-- FOOTER - PARTIALS -->
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-contacts">
            <h3 class="footer-contacts-heading">
              <p>Адвокатське об’єднання</p>
              <p>Дісп’ютс</p>
            </h3>
            <ul class="footer-contacts-list">
              <li class="footer-contacts-item tel">
                <svg>
                  <use href="./images/svg/contacts/contacts.svg#icon-tel"></use>
                </svg>
                <div>
                  <a href="tel: +38 (044) 599-08-84" class="footer-contacts-link"
                    >+38 (044) 599-08-84</a
                  >
                  <p></p>
                  <a href="tel: +38 (050) 392-82-96" class="footer-contacts-link"
                    >+38 (050) 392-82-96</a
                  >
                </div>
              </li>
              <li class="footer-contacts-item email">
                <svg>
                  <use href="./images/svg/contacts/contacts.svg#icon-envelope"></use>
                </svg>
                <a href="email:info@disputes.com.ua" class="footer-contacts-link"
                  >info@disputes.com.ua</a
                >
              </li>
              <li class="footer-contacts-item address">
                <svg>
                  <use href="./images/svg/contacts/contacts.svg#icon-geo"></use>
                </svg>
                <a
                  href="https://goo.gl/maps/DSToWUFzDApkkT9V6"
                  class="footer-contacts-link address"
                >
                  вулиця Пирогова, 5
                  <p></p>
                  Київ, 02000</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-about">
            <h3 class="footer-about-heading">Про Disputes</h3>
            <ul class="footer-content-list">
              <li>
                <a href="./about.html">Про нас</a>
              </li>
              <li>
                <a href="./publications.html">Публікації</a>
              </li>
              <li>
                <a href="./victories.html">Перемоги</a>
              </li>
              <li>
                <a href="./contacts.html">Контакти</a>
              </li>
            </ul>
          </div>
          <div class="footer-services">
            <h3 class="footer-services-heading">Послуги</h3>
            <ul class="footer-content-list">
              <li>
                <a href="./index.html">Вирішення спорів</a>
              </li>
              <li>
                <a href="./index.html">Виконавче провадження</a>
              </li>
              <li>
                <a href="./index.html">Міграційні питання</a>
              </li>
              <li>
                <a href="./index.html">Бізнес консультування</a>
              </li>
              <li>
                <a href="./index.html">Кримінальне провадження</a>
              </li>
            </ul>
          </div>
          <div class="footer-networks">
            <ul class="footer-networks-list">
              <li class="footer-networks-item">
                <svg>
                  <use href="./images/svg/contacts/contacts-right.svg#icon-whatsapp"></use>
                </svg>
              </li>
              <li class="footer-networks-item">
                <svg>
                  <use href="./images/svg/contacts/contacts-right.svg#icon-viber"></use>
                </svg>
              </li>
              <li class="footer-networks-item">
                <svg>
                  <use href="./images/svg/contacts/contacts-right.svg#icon-telegram-yellow"></use>
                </svg>
              </li>
              <li class="footer-networks-item">
                <svg>
                  <use href="./images/svg/contacts/contacts-right.svg#icon-facebook-yellow"></use>
                </svg>
              </li>
              <li class="footer-networks-item">
                <svg>
                  <use href="./images/svg/contacts/contacts-right.svg#icon-twitter-yellow"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-copyright">
          © 2015-2023. Адвокатське об'єднання "Дисп'ютс". Усі права захищені.
          <p></p>
          Будь-яке копіювання допускається тільки з письмової згоди автора. Порушники переслідуються
          в адміністративному та судовому порядку.
          <p></p>
          Дизайн і наповнення сайту - Дмитро Чугуєнко.
        </div>
      </div>
    </footer>